Repository morrighan/packages: changes, and which Codecov flags are due for each by the changed paths.
All: alias-mapper, eslint-config, sass-bridge

codecov.yml:

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"

  individual_components:
    - component_id: alias-mapper
      name: alias-mapper
      paths:
        - packages/alias-mapper/**

    - component_id: eslint-config
      name: eslint-config
      paths:
        - packages/eslint-config/**

    - component_id: sass-bridge
      name: sass-bridge
      paths:
        - packages/sass-bridge/**

Bump versions
  package-lock.json
  packages/alias-mapper/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
Due: alias-mapper, eslint-config, sass-bridge

Fix type conversion of `sass-bridge`
  packages/sass-bridge/sources/type-converter.ts
Due: sass-bridge

Fix type conversion of `sass-bridge`
  package-lock.json
  packages/sass-bridge/package.json
  packages/sass-bridge/sources/type-converter.ts
Due: sass-bridge

Improve `sass-bridge` type conversion
  packages/sass-bridge/sources/type-converter.ts
  packages/sass-bridge/sources/types.ts
Due: sass-bridge

Fix usage error
  babel.config.js
  packages/sass-bridge/sources/type-converter.ts
Due: sass-bridge

Fix tricky `reflect-metadata` error
  packages/sass-bridge/sources/index.ts
Due: sass-bridge

Reduce usage of `lodash`
  babel.config.js
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/alias-mapper/sources/babel.ts
  packages/alias-mapper/tests/examples/babel.config.js
  packages/eslint-config/helpers/base-rule-extender.js
  packages/eslint-config/helpers/configurator.js
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/logger/sources/classes/logger.ts
  packages/sass-bridge/package.json
Due: alias-mapper, eslint-config, sass-bridge

Replace Mocha with Vitest
  package-lock.json
  package.json
  packages/alias-mapper/sources/babel.ts
  packages/alias-mapper/sources/eslint.ts
  packages/alias-mapper/tests/index.ts
  packages/eslint-config/tests/index.ts
  packages/logger/package.json
  packages/logger/sources/classes/logger.ts
  packages/sass-bridge/tests/index.ts
  scripts/register.js
  scripts/typings.js
  vitest.config.js
Due: alias-mapper, eslint-config, sass-bridge

Reduce usage of `lodash`
  package-lock.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/logger/sources/classes/logger.ts
  packages/sass-bridge/package.json
Due: eslint-config, sass-bridge

Improve Babel configuration
  babel.config.js
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
Due: alias-mapper, sass-bridge

Refactor `sass-bridge` to use stage 3 decorators
  eslint.config.js
  packages/sass-bridge/package.json
  packages/sass-bridge/sources/index.ts
  packages/sass-bridge/sources/type-converter.ts
  packages/sass-bridge/sources/type-converter/index.ts
  packages/sass-bridge/sources/type-converter/javascript-to-sass.ts
  packages/sass-bridge/sources/type-converter/sass-to-javascript.ts
  packages/sass-bridge/tests/artifacts/custom-function.ts
  packages/sass-bridge/tests/artifacts/sqrt-cos.ts
  packages/sass-bridge/tests/index.ts
Due: sass-bridge

Simplify vitest configuration
  vitest.config.js
Due: none

Add new package `@cichol/cryptography`
  codecov.yml
  eslint.config.js
  package-lock.json
  packages/cryptography/.npmignore
  packages/cryptography/README.md
  packages/cryptography/package.json
  packages/cryptography/sources/constants.ts
  packages/cryptography/sources/index.ts
  packages/cryptography/sources/tsconfig.json
  packages/cryptography/sources/utilities.ts
  packages/cryptography/tests/index.ts
  packages/cryptography/tsconfig.json
  rollup.config.js
Due: none

Update dependencies
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/alias-mapper/sources/babel.ts
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
Due: alias-mapper, eslint-config, sass-bridge

Fix tests
  package-lock.json
  packages/alias-mapper/tests/artifacts/ast.data
  packages/alias-mapper/tests/index.ts
Due: alias-mapper

Update dependencies
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
Due: alias-mapper, eslint-config, sass-bridge

Use nullish coalescing
  packages/sass-bridge/sources/index.ts
Due: sass-bridge

Improve `import/extensions` rule usage
  packages/eslint-config/fragments/javascript.js
Due: eslint-config

Bump versions
  package-lock.json
  packages/alias-mapper/package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
Due: alias-mapper, eslint-config, sass-bridge

Update ESLint Stylistic plugin
  package-lock.json
  packages/eslint-config/fragments/javascript.js
  packages/eslint-config/package.json
Due: eslint-config

Replace and fix deprecated options
  packages/eslint-config/helpers/stylistic-rules-mapper.js
  vitest.config.js
Due: eslint-config

Update dependencies
  package-lock.json
  package.json
Due: none

Increase test timeout
  vitest.config.js
Due: none

Redeclare type definitions for `sass-bridge`
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/sass-bridge/sources/index.ts
  packages/sass-bridge/sources/type-converter/sass-to-javascript.ts
  packages/sass-bridge/sources/types.ts
Due: alias-mapper, eslint-config, sass-bridge

Fix error on linting
  eslint.config.js
Due: none

Disable an deprecated rule
  packages/eslint-config/helpers/stylistic-rules-mapper.js
Due: eslint-config

Implement new package `stylelint-config`
  eslint.config.js
  package-lock.json
  packages/stylelint-config/.npmignore
  packages/stylelint-config/README.md
  packages/stylelint-config/helpers/fragments.js
  packages/stylelint-config/helpers/generator.js
  packages/stylelint-config/index.d.ts
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  packages/stylelint-config/properties/01-interaction.js
  packages/stylelint-config/properties/02-positioning.js
  packages/stylelint-config/properties/03-layout.js
  packages/stylelint-config/properties/04-box-model.js
  packages/stylelint-config/properties/05-typography.js
  packages/stylelint-config/properties/06-appearance.js
  packages/stylelint-config/properties/07-svg-relevant.js
  packages/stylelint-config/properties/08-transition.js
  packages/stylelint-config/properties/index.js
  packages/stylelint-config/tests/index.ts
  packages/stylelint-config/tsconfig.json
Due: none

Fix type generator error
  scripts/typings.js
Due: none
