Repository morrighan/packages: changes, and which Codecov flags are due for each by the changed paths.
All: alias-mapper, eslint-config, sass-bridge

Update dependencies
  package-lock.json
  package.json
  packages/eslint-config/package.json
Due: eslint-config

Update dependencies
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/eslint-config/fragments/javascript.js
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
Due: alias-mapper, eslint-config, sass-bridge

Update dependencies
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/alias-mapper/tests/artifacts/ast.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
Due: alias-mapper, eslint-config, sass-bridge

Bump versions
  package-lock.json
  packages/alias-mapper/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
Due: alias-mapper, eslint-config, sass-bridge

Add type definition file for ESLint configuration
  packages/eslint-config/helpers/configurator.js
  packages/eslint-config/index.d.ts
  packages/eslint-config/package.json
Due: eslint-config

Add `types` fields in `package.json` files
  packages/alias-mapper/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
Due: alias-mapper, sass-bridge

Set `type` field as `"module"` in `package.json` files
  packages/alias-mapper/package.json
  packages/logger/package.json
Due: alias-mapper

Fix CJS/ESM dual exports
  .gitignore
  eslint.config.js
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/alias-mapper/tests/examples/babel.config.js
  packages/alias-mapper/tsconfig.json
  packages/logger/package.json
  packages/logger/tsconfig.json
  packages/sass-bridge/package.json
  packages/sass-bridge/sources/index.ts
  packages/sass-bridge/sources/types.ts
  packages/sass-bridge/tests/artifacts/custom-function.ts
  packages/sass-bridge/tests/artifacts/sqrt-cos.ts
  packages/sass-bridge/tests/index.ts
  packages/sass-bridge/tsconfig.json
  rollup.config.js
  scripts/postbuild.js
  tsconfig.json
Due: alias-mapper, sass-bridge

Update `.npmignore` files
  packages/alias-mapper/.npmignore
  packages/logger/.npmignore
  packages/sass-bridge/.npmignore
Due: alias-mapper, sass-bridge

Bump versions
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
Due: alias-mapper, eslint-config, sass-bridge

Refactor postbuild script file
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  scripts/postbuild.js
  scripts/typings.js
Due: alias-mapper, sass-bridge

Try to upgrade ESLint v9
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/eslint-config/fragments/javascript.js
  packages/eslint-config/package.json
  packages/logger/sources/handlers/error.ts
  packages/logger/sources/helpers/color-scheme.ts
  packages/sass-bridge/package.json
Due: alias-mapper, eslint-config, sass-bridge

Bump base engine versions
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  scripts/integration
Due: alias-mapper, eslint-config, sass-bridge

Fix comments
  package-lock.json
  packages/alias-mapper/sources/typings/eslint-import-resolver-node.d.ts
  packages/eslint-config/fragments/javascript-react.js
  packages/eslint-config/fragments/javascript.js
  packages/eslint-config/fragments/typescript-react.js
  packages/eslint-config/fragments/typescript.js
  packages/eslint-config/helpers/base-rule-extender.js
  packages/eslint-config/helpers/base-rule-options-getter.js
  packages/eslint-config/package.json
  packages/logger/sources/classes/logger.ts
  packages/sass-bridge/sources/types.ts
  packages/sass-bridge/tests/index.ts
Due: alias-mapper, eslint-config, sass-bridge

Update artifacts for test
  packages/alias-mapper/tests/artifacts/ast.json
Due: alias-mapper

Change serialization format for test artifacts
  packages/alias-mapper/tests/artifacts/ast.data
  packages/alias-mapper/tests/artifacts/ast.json
  packages/alias-mapper/tests/index.ts
Due: alias-mapper

Assume default React version for ESLint
  eslint.config.js
  package-lock.json
  scripts/integration
Due: none

Update dependencies
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
Due: alias-mapper, eslint-config

Fix ESLint rules
  eslint.config.js
  packages/alias-mapper/sources/index.ts
  packages/alias-mapper/tests/index.ts
  packages/eslint-config/fragments/typescript.js
  packages/eslint-config/helpers/base-rule-extender.js
  packages/logger/sources/classes/logger.ts
  packages/logger/sources/handlers/error.ts
  packages/logger/sources/handlers/fatal.ts
  packages/logger/sources/index.ts
  packages/sass-bridge/sources/index.ts
Due: alias-mapper, eslint-config, sass-bridge

Add `peerDependenciesMeta` field
  packages/alias-mapper/package.json
  packages/eslint-config/package.json
Due: alias-mapper, eslint-config

Export plugins for ESLint configuration
  packages/eslint-config/index.js
Due: eslint-config

Improve error formatter
  packages/logger/sources/handlers/error.ts
Due: none

Update dependencies
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
Due: alias-mapper, eslint-config, sass-bridge

fix error formatter
  packages/logger/sources/handlers/error.ts
Due: none

fix error formatter
  package-lock.json
  packages/logger/sources/handlers/error.ts
Due: none

Fix error formatter
  packages/logger/sources/handlers/error.ts
Due: none

Path conditions:
  alias-mapper: any of: packages/alias-mapper/**
  eslint-config: any of: packages/eslint-config/**
  sass-bridge: any of: packages/sass-bridge/**
