Repository morrighan/packages: changes, and which Codecov flags are due for each by the changed paths.
All: alias-mapper, eslint-config, sass-bridge

Deprecate `@cichol/alias-mapper`
  eslint.config.js
  legacies/alias-mapper/.npmignore
  legacies/alias-mapper/README.md
  legacies/alias-mapper/package.json
  legacies/alias-mapper/sources/babel.ts
  legacies/alias-mapper/sources/eslint.ts
  legacies/alias-mapper/sources/helpers/alias-finder.ts
  legacies/alias-mapper/sources/helpers/alias-map-creator.ts
  legacies/alias-mapper/sources/helpers/closest-root-finder.ts
  legacies/alias-mapper/sources/helpers/relative-path-finder.ts
  legacies/alias-mapper/sources/index.ts
  legacies/alias-mapper/sources/tsconfig.json
  legacies/alias-mapper/sources/typings/eslint-import-resolver-node.d.ts
  legacies/alias-mapper/tests/examples/babel.config.js
  legacies/alias-mapper/tests/examples/sources/backend/database.ts
  legacies/alias-mapper/tests/examples/sources/backend/models/account.js
  legacies/alias-mapper/tests/examples/sources/backend/server.js
  legacies/alias-mapper/tests/examples/sources/common/logger.js
  legacies/alias-mapper/tests/examples/sources/frontend/components/button/index.js
  legacies/alias-mapper/tests/examples/sources/frontend/components/checkbox/index.js
  legacies/alias-mapper/tests/index.ts
  legacies/alias-mapper/tsconfig.json
Due: none

Fix `README.md`
  legacies/.gitkeep
  legacies/alias-mapper/README.md
Due: none

Skip CI for documentation editing
  .github/workflows/default.yml
Due: none

Update Node.js v24 compatibility
  .github/workflows/default.yml
  .github/workflows/release.yml
  legacies/alias-mapper/package.json
  package-lock.json
  package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/shader-compressor/package.json
  packages/stylelint-config/package.json
Due: eslint-config, sass-bridge

Update versions of actions
  .github/workflows/default.yml
  .github/workflows/release.yml
Due: none

Drop to build `@cichol/alias-mapper`
  rollup.config.js
Due: none

Update TypeScript v5 to v6
  legacies/alias-mapper/tsconfig.json
  package-lock.json
  package.json
  packages/cryptography/tsconfig.json
  packages/eslint-config/package.json
  packages/eslint-config/tsconfig.json
  packages/logger/tsconfig.json
  packages/sass-bridge/tsconfig.json
  packages/shader-compressor/tsconfig.json
  packages/stylelint-config/tsconfig.json
  tsconfig.json
Due: eslint-config, sass-bridge

Adopt `@std/fmt`
  .npmrc
  package-lock.json
  packages/logger/package.json
  packages/logger/sources/formatters/command-line.ts
  packages/logger/sources/formatters/morgan.ts
  packages/logger/sources/handlers/error.ts
  packages/logger/sources/helpers/color-scheme.ts
  packages/logger/sources/helpers/label-decorator.ts
Due: none

Fix coverage collection
  vitest.config.js
Due: none

Specify coverage directory
  .github/workflows/default.yml
  .github/workflows/release.yml
Due: none

Simplify constants
  babel.config.js
Due: none

Adopt subpath imports for ESLint configuration
  eslint.config.js
  packages/eslint-config/fragments/javascript-react.js
  packages/eslint-config/fragments/javascript.js
  packages/eslint-config/fragments/typescript-react.js
  packages/eslint-config/fragments/typescript.js
  packages/eslint-config/helpers/base-rule-extender.js
  packages/eslint-config/helpers/configurator.js
  packages/eslint-config/helpers/extension-rules-mapper.js
  packages/eslint-config/helpers/stylistic-rules-mapper.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Due: eslint-config

Adopt subpath imports for Stylelint configuration
  packages/stylelint-config/helpers/fragments.js
  packages/stylelint-config/helpers/generator.js
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  packages/stylelint-config/properties/01-interaction.js
  packages/stylelint-config/properties/02-positioning.js
  packages/stylelint-config/properties/03-layout.js
  packages/stylelint-config/properties/04-box-model.js
  packages/stylelint-config/properties/05-typography.js
  packages/stylelint-config/properties/06-appearance.js
  packages/stylelint-config/properties/07-svg-relevant.js
  packages/stylelint-config/properties/08-transition.js
  packages/stylelint-config/properties/index.js
Due: none

Simplify ESLint configuration
  eslint.config.js
Due: none

Fix initialization error
  packages/shader-compressor/sources/index.ts
Due: none

Fix testing errors
  packages/stylelint-config/index.d.ts
  packages/stylelint-config/index.js
  packages/stylelint-config/tests/index.ts
Due: none

Add simulated publishing step for default CI
  .github/workflows/default.yml
Due: none

Restore TypeScript 5.9 behavior
  tsconfig.json
Due: none

Update to the latest settings
  .vscode/settings.json
Due: none

Simplify subpath imports
  packages/shader-compressor/package.json
Due: none

Adopt subpath imports for the logger
  packages/logger/package.json
  packages/logger/sources/classes/logger.ts
  packages/logger/sources/formatters/command-line.ts
  packages/logger/sources/formatters/morgan.ts
  packages/logger/sources/handlers/debug.ts
  packages/logger/sources/handlers/error.ts
  packages/logger/sources/handlers/fatal.ts
  packages/logger/sources/handlers/http.ts
  packages/logger/sources/handlers/index.ts
  packages/logger/sources/handlers/info.ts
  packages/logger/sources/handlers/notice.ts
  packages/logger/sources/handlers/query.ts
  packages/logger/sources/handlers/verbose.ts
  packages/logger/sources/handlers/warning.ts
  packages/logger/sources/helpers/label-decorator.ts
  packages/logger/sources/index.ts
  packages/logger/tsconfig.json
Due: none

Adopt ESM-Only and drop CommonJS supports
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/shader-compressor/package.json
  packages/stylelint-config/package.json
  rollup.config.js
  scripts/typings.js
Due: eslint-config, sass-bridge

Simplify color notation
  packages/logger/sources/formatters/morgan.ts
Due: none

Adopt subpath imports
  packages/cryptography/package.json
  packages/cryptography/sources/index.ts
  packages/cryptography/sources/utilities.ts
  packages/logger/sources/handlers/fatal.ts
  packages/sass-bridge/package.json
  packages/sass-bridge/sources/index.ts
  packages/sass-bridge/sources/type-converter/index.ts
Due: sass-bridge

Make crypto functions to get msgpack instances
  packages/cryptography/sources/index.ts
Due: none

Fix `'../types'` to `'#types'`
  packages/sass-bridge/sources/type-converter/javascript-to-sass.ts
  packages/sass-bridge/sources/type-converter/sass-to-javascript.ts
Due: sass-bridge

Bump versions
  package-lock.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/shader-compressor/package.json
  packages/stylelint-config/package.json
Due: eslint-config, sass-bridge

Fix Babel configuration
  babel.config.js
Due: none

Renovate cryptography library
  packages/cryptography/README.md
  packages/cryptography/package.json
  packages/cryptography/sources/constants.ts
  packages/cryptography/sources/index.ts
  packages/cryptography/sources/presets/default.ts
  packages/cryptography/sources/presets/lightweight.ts
  packages/cryptography/sources/scheme-creator.ts
  packages/cryptography/sources/utilities.ts
  packages/cryptography/tests/default.ts
  packages/cryptography/tests/lightweight.ts
  packages/cryptography/tsconfig.json
  rollup.config.js
  scripts/typings.js
Due: none

Shrink duration notation
  packages/logger/sources/formatters/morgan.ts
Due: none

Update dependencies
  package-lock.json
  package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/stylelint-config/package.json
Due: eslint-config

Fix type errors
  packages/logger/sources/classes/logger.ts
Due: none

Desaturate text color on verbose level
  packages/logger/sources/handlers/query.ts
  packages/logger/sources/handlers/verbose.ts
Due: none

Update dependencies
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
Due: eslint-config

Change base64 to base64url
  packages/cryptography/sources/scheme-creator.ts
  packages/cryptography/sources/utilities.ts
Due: none

Bump versions
  package-lock.json
  package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/shader-compressor/package.json
  packages/stylelint-config/package.json
Due: eslint-config, sass-bridge

Override `uuid` version range
  package-lock.json
  package.json
  packages/logger/sources/formatters/morgan.ts
Due: none

Path conditions:
  alias-mapper: any of: packages/alias-mapper/**
  eslint-config: any of: packages/eslint-config/**
  sass-bridge: any of: packages/sass-bridge/**
