Repository morrighan/packages: changes, and which Codecov flags are due for each by the changed paths.
All: alias-mapper, eslint-config, sass-bridge

Bump versions
  package-lock.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/shader-compressor/package.json
  packages/stylelint-config/package.json
Due: eslint-config, sass-bridge

Implement ML-KEM-1024 based scheme preset
  packages/cryptography/README.md
  packages/cryptography/package.json
  packages/cryptography/sources/constants.ts
  packages/cryptography/sources/index.ts
  packages/cryptography/sources/presets/post-quantum.ts
  packages/cryptography/sources/scheme-creator.ts
  packages/cryptography/sources/utilities.ts
  packages/cryptography/tests/post-quantum.ts
Due: none

Refactor to unuse salt for hashing
  packages/cryptography/sources/constants.ts
  packages/cryptography/sources/scheme-creator.ts
  packages/cryptography/sources/utilities.ts
Due: none

Simplify comments
  packages/eslint-config/fragments/javascript-react.js
  packages/eslint-config/fragments/javascript.js
  packages/eslint-config/fragments/typescript-react.js
  packages/eslint-config/fragments/typescript.js
Due: eslint-config

Refactor `eslint-config` to escape from AirBnB
  packages/eslint-config/fragments/javascript-react.js
  packages/eslint-config/fragments/javascript.js
  packages/eslint-config/fragments/typescript-react.js
  packages/eslint-config/fragments/typescript.js
  packages/eslint-config/helpers/base-rule-extender.js
  packages/eslint-config/helpers/base-rule-options-getter.js
  packages/eslint-config/helpers/extension-rules-mapper.js
  packages/eslint-config/helpers/stylistic-rules-mapper.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/rules/base-stylistic.js
  packages/eslint-config/rules/base.js
  packages/eslint-config/rules/import.js
  packages/eslint-config/rules/jsx-a11y.js
  packages/eslint-config/rules/node.js
  packages/eslint-config/rules/react-stylistic.js
  packages/eslint-config/rules/react.js
  packages/eslint-config/rules/typescript-stylistic.js
  packages/eslint-config/rules/typescript.js
  packages/eslint-config/utilities/aliased-config-getter.js
  packages/eslint-config/utilities/constants.js
Due: eslint-config

Update dependencies
  package-lock.json
  package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/stylelint-config/package.json
Due: eslint-config, sass-bridge

Fix `README.md`
  README.md
Due: none

Fix linting errors
  rollup.config.js
Due: none

Mitigate triky linting errors
  packages/sass-bridge/tests/index.ts
Due: sass-bridge

Improve logger's fingerprint
  packages/logger/sources/formatters/command-line.ts
Due: none

Move `class-methods-use-this` definition
  packages/eslint-config/fragments/javascript-react.js
  packages/eslint-config/fragments/typescript-react.js
  packages/eslint-config/index.js
  packages/eslint-config/rules/jsx-a11y.js
  packages/eslint-config/rules/react.js
Due: eslint-config

Fix `README.md`
  packages/eslint-config/README.md
Due: eslint-config

Update dependencies
  package-lock.json
  package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/shader-compressor/package.json
  packages/stylelint-config/package.json
Due: eslint-config, sass-bridge

Fix npm v12 changes
  scripts/integration.sh
Due: none

Lockdown version range of engines
  package-lock.json
  package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/shader-compressor/package.json
  packages/stylelint-config/package.json
Due: eslint-config, sass-bridge

Handle breaking changes
  babel.config.js
  packages/cryptography/sources/tsconfig.json
  packages/cryptography/tsconfig.json
  packages/logger/sources/tsconfig.json
  packages/logger/tsconfig.json
  packages/sass-bridge/sources/tsconfig.json
  packages/shader-compressor/packages.lock.json
Due: sass-bridge

Update dependencies
  package-lock.json
  package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
Due: eslint-config, sass-bridge

Migrate the package manger from npm to yarn
  .gitattributes
  .github/workflows/default.yml
  .github/workflows/release.yml
  .gitignore
  .npmrc
  .yarnrc.yml
  package-lock.json
  package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/shader-compressor/package.json
  packages/stylelint-config/package.json
  scripts/integration.sh
  yarn.lock
Due: eslint-config, sass-bridge

Polish workflow files
  .github/workflows/default.yml
  .github/workflows/release.yml
  package.json
  scripts/integration.sh
Due: none

Refactor workflows for GitHub Actions
  .github/workflows/base.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
  package.json
  scripts/integration.sh
Due: none

Updated dependencies
  package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/shader-compressor/package.json
  packages/stylelint-config/package.json
  scripts/cache-prepack.sh
  scripts/cache-restore.sh
  yarn.lock
Due: eslint-config, sass-bridge

Bump version
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/shader-compressor/package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: eslint-config, sass-bridge

Fix markdown path filter in default workflow
  .github/workflows/default.yml
Due: none

Path conditions:
  alias-mapper: any of: packages/alias-mapper/**
  eslint-config: any of: packages/eslint-config/**
  sass-bridge: any of: packages/sass-bridge/**
