Repository morrighan/packages: changes, and which Codecov flags are due for each by the changed paths.
All: alias-mapper, eslint-config, sass-bridge

codecov.yml:

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!master"

  individual_components:
    - component_id: alias-mapper
      name: alias-mapper
      paths:
        - packages/alias-mapper/**

    - component_id: eslint-config
      name: eslint-config
      paths:
        - packages/eslint-config/**

    - component_id: sass-bridge
      name: sass-bridge
      paths:
        - packages/sass-bridge/**

Add new test case
  packages/stylelint-config/tests/index.ts
Due: none

Improve test case
  packages/stylelint-config/tests/index.ts
Due: none

Bump versions
  package-lock.json
  packages/alias-mapper/package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/stylelint-config/package.json
Due: alias-mapper, eslint-config, sass-bridge

Initialize `@cichol/shader-compressor` package
  .gitmodules
  eslint.config.js
  package.json
  packages/shader-compressor/.npmignore
  packages/shader-compressor/README.md
  packages/shader-compressor/package.json
  packages/shader-compressor/scripts/.gitkeep
  packages/shader-compressor/sources/.gitkeep
  packages/shader-compressor/tests/.gitkeep
  packages/shader-compressor/tsconfig.json
  scripts/typings.js
Due: none

Write the build script
  packages/shader-compressor/.npmignore
  packages/shader-compressor/CMakeLists.txt
  packages/shader-compressor/package.json
  packages/shader-compressor/scripts/.gitkeep
  packages/shader-compressor/scripts/build
  packages/shader-compressor/sources/.gitkeep
  packages/shader-compressor/sources/program.cpp
Due: none

Update dependencies
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/stylelint-config/package.json
Due: alias-mapper, eslint-config, sass-bridge

Update workflows for installing CMake
  .github/workflows/default.yml
  .github/workflows/release.yml
  eslint.config.js
  packages/shader-compressor/scripts/build
  packages/shader-compressor/tsconfig.json
  vitest.config.js
Due: none

Implement the optimization phase for the compressor
  .clang-format
  packages/shader-compressor/CMakeLists.txt
  packages/shader-compressor/package.json
  packages/shader-compressor/sources/optimizer.cpp
  packages/shader-compressor/sources/program.cpp
  packages/shader-compressor/tests/.gitkeep
  packages/shader-compressor/tests/index.ts
Due: none

Mitigate warning message on the build process
  scripts/integration
Due: none

Integrate with Ccache
  .github/workflows/default.yml
  packages/shader-compressor/CMakeLists.txt
  packages/shader-compressor/scripts/build
  scripts/cache-prepack
  scripts/cache-restore
  scripts/install-emsdk
Due: none

Integrate with Vitest with GH Actions
  vitest.config.js
Due: none

Add some markers for build process
  package.json
  packages/shader-compressor/scripts/build
  scripts/install-emsdk
  scripts/integration
Due: none

Implement the minification phase for the compressor
  .clang-format
  .gitmodules
  package-lock.json
  packages/shader-compressor/.npmignore
  packages/shader-compressor/CMakeLists.txt
  packages/shader-compressor/package.json
  packages/shader-compressor/scripts/build
  packages/shader-compressor/sources/index.ts
  packages/shader-compressor/sources/tsconfig.json
  rollup.config.js
  scripts/typings.js
Due: none

Refactor the minification phase by NativeAOT-LLVM
  .gitmodules
  packages.slnx
  packages/shader-compressor/.npmignore
  packages/shader-compressor/CMakeLists.txt
  packages/shader-compressor/Directory.Build.props
  packages/shader-compressor/bindings.fsproj
  packages/shader-compressor/package.json
  packages/shader-compressor/patches/shader-minifier.patch
  packages/shader-compressor/scripts/build
  packages/shader-compressor/sources/bindings.cpp
  packages/shader-compressor/sources/index.ts
  packages/shader-compressor/sources/minifier.fs
  packages/shader-compressor/sources/optimizer.cpp
  scripts/install-emsdk
Due: none

Add `setup-dotnet` to the workflow
  .github/workflows/default.yml
Due: none

Edit tests for shader compressor in temporarily
  packages/shader-compressor/tests/index.ts
Due: none

Fix the default workflow
  .github/workflows/default.yml
  eslint.config.js
  packages.slnx
  packages/shader-compressor/bindings.fsproj
  packages/shader-compressor/packages.lock.json
  packages/shader-compressor/scripts/build
  packages/shader-compressor/sources/index.ts
  scripts/install-emsdk
  scripts/task-runner
Due: none

Make task runner shell script
  .editorconfig
  .github/workflows/default.yml
  .github/workflows/release.yml
  packages/shader-compressor/package.json
  packages/shader-compressor/scripts/build.sh
  scripts/cache-prepack
  scripts/cache-prepack.sh
  scripts/cache-restore
  scripts/cache-restore.sh
  scripts/install-emsdk
  scripts/install-emsdk.sh
  scripts/integration
  scripts/integration.sh
  scripts/task-runner
  scripts/task-runner.sh
Due: none

Rename `artifacts` to `externals`
  .github/workflows/default.yml
  .gitmodules
  eslint.config.js
  packages/shader-compressor/CMakeLists.txt
  packages/shader-compressor/bindings.fsproj
  packages/shader-compressor/scripts/build.sh
  packages/shader-compressor/sources/bindings.cpp
  packages/shader-compressor/tests/index.ts
  packages/shader-compressor/tsconfig.json
  scripts/cache-prepack.sh
  scripts/cache-restore.sh
  scripts/install-emsdk.sh
  vitest.config.js
Due: none

Add `glslang` as a submodule
  .gitmodules
Due: none

Add the validator for the shader compressor
  packages/shader-compressor/CMakeLists.txt
  packages/shader-compressor/bindings.fsproj
  packages/shader-compressor/scripts/build.sh
  packages/shader-compressor/sources/bindings.cpp
  packages/shader-compressor/sources/index.ts
Due: none

Fix test codes
  packages/shader-compressor/tests/artifacts/in.frag
  packages/shader-compressor/tests/artifacts/in.vert
  packages/shader-compressor/tests/artifacts/out.frag
  packages/shader-compressor/tests/artifacts/out.vert
  packages/shader-compressor/tests/index.ts
Due: none

Update dependencies
  .github/workflows/default.yml
  .github/workflows/release.yml
  eslint.config.js
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/shader-compressor/package.json
  packages/stylelint-config/package.json
Due: alias-mapper, eslint-config, sass-bridge

Update dependencies
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
Due: alias-mapper, eslint-config, sass-bridge

Update workflow file
  .github/workflows/release.yml
Due: none

Update workflow file
  .github/workflows/default.yml
  .github/workflows/release.yml
Due: none

Fix errors
  babel.config.js
  package-lock.json
  package.json
  scripts/typings.js
  vitest.config.js
Due: none

Bump versions
  package-lock.json
  packages/alias-mapper/package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/shader-compressor/package.json
  packages/stylelint-config/package.json
Due: alias-mapper, eslint-config, sass-bridge

Update dependencies
  package-lock.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
Due: eslint-config

Fix overrides conflict error
  package-lock.json
  package.json
  packages/eslint-config/package.json
Due: eslint-config

Revert for `eslint-plugin-react-hooks`
  package-lock.json
  package.json
  packages/eslint-config/package.json
Due: eslint-config

Update dependencies
  babel.config.js
  eslint.config.js
  package-lock.json
  package.json
  packages/alias-mapper/package.json
  packages/cryptography/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/sass-bridge/package.json
  packages/stylelint-config/package.json
  vitest.config.js
Due: alias-mapper, eslint-config, sass-bridge

Fix for `eslint-plugin-react-hooks`
  packages/eslint-config/fragments/javascript-react.js
  packages/eslint-config/fragments/javascript.js
  packages/eslint-config/helpers/configurator.js
Due: eslint-config

Fix highlighting on query logging
  packages/logger/sources/handlers/query.ts
Due: none

Update dependencies
  package-lock.json
  package.json
  packages/eslint-config/package.json
  packages/sass-bridge/package.json
  packages/stylelint-config/package.json
Due: eslint-config, sass-bridge
